* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #65c1b5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.seat {
  background-color: #444546;
  width: 15px;
  height: 15px;
  margin: 4px;
  border-radius: 5px;
}

.row {
  display: flex;
}

.seat.selected {
  background-color: #ad950b;
}

.seat.reserved {
  background-color: #2cb862;
}

.seat:not(.reserved):hover {
  cursor: pointer;
  transform: scale(1.3)
}

.seat:nth-of-type(2) {
  margin-right: 20px;
}

.seat:nth-of-type(3) {
  margin-right: 20px;
}

.screen {
  background-color: #fff;
  width: 100px;
  height: 50px;
  margin: 20px 0;
  box-shadow: rgb(255, 255, 255, 0.7)
}

.movieList {
  margin: 20px 0;
}

.info {
  background-color: rgb(0, 0, 0, 0.2);
  padding: 5px 10px;
  color: #777;
  display: flex;
}

.info li {
  display: flex;
  align-items: center;
}

.p text span {
  color: #f3e648;
}
#count{
  text-align:center;
  align-items:center;
  color:#000;
  /* display:flex; */
  text-decoration:none;
  font-size:bold;
}
#amount{
  color: #000;
  font-size:bold;
}